:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

.animate-show{
  view-timeline-name: --show;
  view-timeline-axis: block;

  animation-timeline: --show;
  animation-name: show;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}